<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wq.androidtest">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DemoTableActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.QuickTestActivity" />
        <activity android:name=".activity.FocusTesetActivity" />
        <activity android:name=".activity.ShowIPActivity" />
        <activity android:name=".activity.EventBusDemoActivity" />
        <activity android:name=".activity.UpdateApkActivity" />
        <activity android:name=".activity.RatingActivity" />
        <activity android:name=".activity.ProgressButtonActivity" />
        <activity android:name=".activity.CircleProgressActivity" />
        <activity android:name=".activity.TextActivity" />
        <activity android:name=".activity.ListViewHeightAcitvity" />
    </application>
</manifest>
