<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wq.androidtest">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 以下是系统权限-->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />

    <!-- 有些主题是不显示actionbar的-->
    <application
        android:name=".base.TestApplication"
        android:allowBackup="true"
        android:icon="@drawable/cat_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".activity.DemoTableActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.QuickTestActivity" />
        <activity android:name=".activity.FocusTesetActivity" />
        <activity android:name=".activity.ShowIPActivity" />
        <activity android:name=".activity.EventBusDemoActivity" />
        <activity android:name=".activity.UpdateApkActivity" />
        <activity android:name=".activity.customview.RatingActivity" />
        <activity android:name=".activity.customview.ProgressButtonActivity" />
        <activity android:name=".activity.customview.CircleProgressActivity" />
        <activity android:name=".activity.TextActivity" />
        <activity android:name=".activity.ListViewHeightAcitvity" />
        <activity android:name=".activity.AnimationUtilTestActivity" />
        <activity android:name=".activity.customviewgroup.FlowLayoutActivity" />
        <activity android:name=".activity.ScreenInfoActivity" />
        <activity android:name=".activity.ClipboardActivity" />
        <activity android:name=".activity.EmsTestActivity" />
        <activity android:name=".activity.v7.CardViewActivity" />
        <activity android:name=".activity.v7.RecycleViewListViewActivity" />
        <activity android:name=".activity.v7.RecycleViewGridActivity" />
        <activity android:name=".activity.v7.RecycleViewPuBuActivity" />
        <activity android:name=".activity.v7.RecycleViewPuBu2Activity" />
        <activity android:name=".activity.customview.RiseTextViewActivity" />
        <activity android:name=".activity.ViewEnableTestActivity" />
        <activity android:name=".activity.OutScrollViewActivity" />
        <activity android:name=".activity.ScrollInScrollActivity" />
        <activity android:name=".activity.ViewTransActivity" />
        <activity android:name=".activity.DeviceInfoActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.customview.CircleViewActivity" />
        <activity android:name=".activity.customview.HorizontalScrollExActivity" />
        <activity android:name=".activity.customview.NumberClockActivity" />
        <activity android:name=".activity.anim.AnimActivity" />


        <!-- 桌面小控件-->
        <receiver android:name=".widget.OnePicAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_one_pic" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

        </receiver>
    </application>
</manifest>
